<hr>
<h2>{{nombre_componente}}</h2>

<hr>

<h3>Ejercicio de ngSwtich</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
        'background': color,
        'color': 'white',
        'padding': '5px'}">Es de color ROJO</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{
    'background': color,
    'color': 'white',
    'padding': '5px'}">Es de color VERDE</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{
    'background': color,
    'color': 'white',
    'padding': '5px'}">Es de color AZUL</li>
</ul>
<button (click)="cambiarColor('red')">Poner ROJO</button>
<button (click)="cambiarColor('green')">Poner VERDE</button>
<button (click)="cambiarColor('blue')">Poner AZUL</button>
<hr>

<h3>Ejercicio de ngIf</h3>

<div *ngIf="trabajador_externo == true">
    <button (click)="cambiarExterno(false)">Mostrar trabajador</button>
    <ul>
        <li>Nombre: {{empleado.nombre}}</li>
        <li>Edad: {{empleado.edad}}</li>
        <li>Cargo: {{empleado.cargo}}</li>
        <li *ngIf="empleado.contratado == true">Esta contratado</li>
        <li *ngIf="empleado.contratado == false">No esta contratado</li>
    </ul>
</div>

<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(true)">Mostrar empleado</button>
    <ul>
        <li>Nombre: {{trabajadores[1].nombre}}</li>
        <li>Edad: {{trabajadores[1].edad}}</li>
        <li>Cargo: {{trabajadores[1].cargo}}</li>
        <li *ngIf="trabajadores[1].contratado == true">Esta contratado</li>
        <li *ngIf="trabajadores[1].contratado == false">No esta contratado</li>
    </ul>
</div>

<hr>
<h3>Ejercicio de ngFor</h3>
<h4>Listado de empleados</h4>
<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{i+1}}</strong>
        <ul>
            <li>Nombre: {{empleado.nombre}}</li>
            <li>Edad: {{empleado.edad}}</li>
            <li>Cargo: {{empleado.cargo}}</li>
            <li *ngIf="empleado.contratado == true">Esta contratado</li>
            <li *ngIf="empleado.contratado == false">No esta contratado</li>
        </ul>
    </li>
</ul>
