<h4>{{titulo}}</h4>

<button type="button" name="button" (click)="cambiar(!administrador)">Cambiar</button>

<br><br>

<div *ngIf="administrador; then admin; else noAdmin">
  <!-- <strong style="background: green">Eres el admin</strong> -->
</div>

<!-- <div *ngIf="!administrador">
  <strong style="background: red; color:white">No eres el admin</strong>
</div> -->

<hr>

<ng-template #admin>
  <strong style="background: green">Eres el super-admin</strong>
</ng-template>

<ng-template #noAdmin>
    <strong style="background: red; color:white">No eres el admin</strong>
</ng-template>
