#content{
  /*border: 1px solid #eee;*/
  margin-top: 30px;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 2px 5px gray;
  padding: 0px;
  overflow: hidden;
}

#header{
  background: #E03137;
  color: white;
  margin: 0px;
  height: 90px;
  line-height: 90px;
}

#header h1{
  line-height: 55px;
  display: block;
  /*font-weight: bold;*/
  font-size: 30px
}

#nav {
  padding: 0px;
  margin: 0px;
  background: rgba(224, 49, 55, 0.67);
}

#nav ul {
  list-style: none;
  margin: 0px;
  padding-left: 20px;
}

#nav ul li {
  float: left;
  margin-right: 20px;
}

#nav ul li a {
  color: white;
  display: block;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  transition: all 300ms;
}

#nav ul li a:hover{
  text-decoration: none;
  background: #E03137;
}

#nav ul li a.activado{
  background: #E03137 !important;
  border-bottom: 3px solid white;
}

#main .jumbotron {
  padding: 50px;
  margin-top: 30px;
  border-radius: 10px;
}

footer {
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  color: gray;
}

#form-productos label{
  margin-top: 10px
}

.producto_imagen{
  height: 150px;
  margin: 0 auto;
  display: block;
}

.producto_imagen_big{
  height: 250px;
  margin: 0 auto;
  display: block;
}

.caption{
  /*height: 150px;*/
  overflow: hidden;
}

.botonera{
  text-align: right;
}
