<div class="col-lg-10 col-lg-offset-1">
  <div class="jumbotron">
    <h2>{{titulo}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem odit, vel, officia cumque, modi eius placeat iste error incidunt delectus recusandae, atque sunt est adipisci harum consequatur blanditiis corporis!</p>
    <p>
      <a [routerLink]="['/productos']" class="btn btn-lg btn-primary">Ver productos</a>
      <a [routerLink]="['/nuevo']" class="btn btn-lg btn-success">Añadir prodcuto</a>
    </p>
  </div>
</div>
