<h2>{{titulo}}</h2>
<hr>
<div *ngIf="productos">
  <div class="row">
    <div class="col-lg-3" *ngFor="let producto of productos">
      <div class="thumbnail">
        <div class="" *ngIf="producto.image_url">
          <img class="producto_imagen" src="{{url}}{{producto.image_url}}" alt="">
        </div>
        <div class="caption">
            <h4>{{producto.name}}</h4>
            <p><strong>$ {{producto.price}}.00</strong></p>
            <!-- <p>{{producto.description}}</p> -->
            <p class="botonera">
              <a class="btn btn-default btn-success" [routerLink]="['/productos',producto.id]">Ver</a>
              <a href="" class="btn btn-default btn-warning">Editar</a>
              <a href="" class="btn btn-default btn-danger">Borrar</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
